<section class="bg-light" id="Article">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Automated Article Generation for WordPress Platforms</h2>
                <hr class="primary">
                <p class="text-muted">
                    This project seamlessly integrates OpenAI's ChatGPT API with WordPress, automating content creation and uploads. By connecting with ChatGPT, the program autonomously generates articles based on enhanced prompts, which are enriched with web-scraped data. This innovation not only streamlines the content creation process but also optimizes content management workflows, reducing manual intervention. The result is a time-efficient, sustainable solution for regular blogging, pushing the boundaries of AI-powered digital content management.
                </p>
                <style>
                    .center-image {
                        text-align: center;
                    }
                    .center-image img {
                        display: block;
                        margin: 0 auto;
                    }
                </style>
                <div class="center-image">
                    <img src="/img/portfolio/article.jpg" class="img-responsive" alt="" width="40%">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="Churn">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Customer Churn Prediction</h2>
                <hr class="light">
                <p class="text-faded">
                    Customer Churn Prediction was a project for a Polish bank. Given historical data, we developed a time-series model for predicting if a client will likely churn in the following month.
                    During development, we found out that the task given by the bank was vague and that more valuable data could be collected. We recommended future actions (such as A/B testing) and suggested developing a different, personalized activity metric that would tell the bank more about customer engagement.
                    We also developed a customer clustering system to aid the marketing department with choosing a personalized communication strategy.
                    The technological stack consisted of Google Cloud Platform solutions, such as VertexAI and Compute Engine.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="AlphaInvest">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Portfolio optimisation using reinforcement learning - AlphaInvest</h2>
                <hr class="primary">
                <p class="text-muted">
                    AI agent that can employ optimization algorithms to determine the ideal allocation of assets within a portfolio.
                    Its architecture was based on AlphaStar, a StarCraft II-playing artificial intelligence (AI) developed by DeepMind.
                    It is capable of the following:
                    Maximizing Returns 
                    Risk Management
                    Efficient Decision-Making
                    Enhanced Diversification
                    Continuous Monitoring and Adaptation
                    This algorithm has beaten state of the art CLA algorithm and baseline solution which was to divide means equally. 
                </p>
                <style>
                    table {
                        margin: auto;
                        width: 50%; /* Adjust as needed */
                        border-spacing: 10px 2px; /* Horizontal and vertical spacing */
                    }
                    th, td {
                        padding: 5px; /* Adjust as needed */
                        text-align: center;
                        width: 33.33%;
                    }
                    caption {
                        font-weight: bold;
                        font-size: 18px; /* Adjust as needed */
                        color: #333; /* Adjust as needed */
                        text-transform: uppercase; /* Adjust as needed */
                        padding: 5px; /* Adjust as needed */
                        text-align: center;
                    }
                </style>
                
                <table>
                    <caption>Sharpe Ratio</caption>
                    <thead>
                        <tr>
                            <th>CLA</th>
                            <th>Equally Divided</th>
                            <th>AlphaInvest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>-0.16</td>
                            <td>0.03</td>
                            <td>0.11</td>
                        </tr>
                    </tbody>
                </table>
                              
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="Cov">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Identification of Potential Inhibitors of the NSP-13 Protein of the SARS-CoV-2 Virus</h2>
                <hr class="light">
                <p class="text-faded">
                    Using deep learning, we successfully developed a model that aids in the identification of novel drugs capable of combating SARS-CoV-2, by discovering new enzyme inhibitors.
                    The aim of this work was to identify potential inhibitors of the Nsp-13 protein of the SARS-CoV-2 virus using an approach based on deep learning.
                    The input for training the neural network was a set of protein-ligand pairs. The output was a probability of a ligand-protein pair having an IC50 value < 10 μM, which creates possibility that given ligand is an inhibitor.
                    In the end the prediction resulted in an accuracy of 86%, precision of 95% and recall of 88%.
                    Four out of five analyzed proteins showed a noticeable difference between the results of docking ligands labeled as promising and those from the bottom of the list returned by the neural network.
                </p>
                <img src="/img/portfolio/cov.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>


<section class="bg-light" id="Cell">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cell state prediction</h2>
                <hr class="primary">
                <p class="text-muted">
                    We have developed an interpretable model capable of forecasting whether a cell will undergo division or death by analyzing a sequence of microscope images.
                    This achievement can significantly contribute to the field of science in several ways:
                </p>
                <p class="text-muted">
                    Advancement in medical research: aiding in studying diseases like cancer, where abnormal cell division and death play crucial roles
                </p>
                <p class="text-muted">
                    Drug discovery and development: Pharmaceutical companies can use this model to screen potential drug candidates by assessing their impact on cell division and death. 
                </p>
                <p class="text-muted">
                    Enhancing diagnostic capabilities: By analyzing microscopic images, it can aid in identifying abnormal cell division patterns or signs of cell death, providing valuable diagnostic information to healthcare professionals and enabling earlier detection and treatment of diseases.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="House">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Housing price prediction</h2>
                <hr class="light">
                <p class="text-faded">
                    Based on tabular data, including information such as for example, residential size, number of bedrooms, number of garage spaces, number of balconies, location, condition of the apartment, etc., we created a machine learning model that predicts the value of the apartment/home.
                    The model performed very well predicting the value of the property with an accuracy of 2% of the value.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="Music">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Automated Music Transcription</h2>
                <hr class="primary">
                <p class="text-muted">
                    We developed AI model capable of converting audio recordings of music into written musical notation. Such model can be used to:
                </p>
                <p class="text-muted">
                    Music Education
                </p>
                <p class="text-muted">
                    Copyright Protection
                </p>
                <p class="text-muted">
                    Music Production and Collaboration                    
                </p>
            </div>
        </div>
    </div>
</section>


<section class="bg-primary" id="Fetal">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fetal Biometry Estimation</h2>
                <hr class="light">
                <p class="text-faded">
                    We have developed a deep learning model that can predict measurements of the femur, abdomen, and head based on ultrasound sonography (USG) scans of fetuses. Our model holds significant importance in healthcare for several reasons:
                </p>
                <p class="text-faded">
                    Efficiency and Time-saving: The automation of fetal biometry through our model can significantly reduce the time required for manual measurements, enabling healthcare providers to cater to more patients or allocate more time to other tasks.
                </p>
                <p class="text-faded">
                    Consistency: Our automated model can provide consistent measurements, effectively eliminating the variability introduced by different technicians performing manual measurements.
                </p>
                <p class="text-faded">
                    Accuracy: Our model leverages advanced machine learning algorithms, demonstrating the potential to achieve high levels of accuracy, which could reduce measurement errors.
                </p>
                <p class="text-faded">
                    Early Detection: With our automated biometry model, fetal growth can be assessed more frequently. This could allow for earlier detection of growth abnormalities or complications.
                </p>
                <style>
                    .center-image {
                        text-align: center;
                    }
                    .center-image img {
                        display: block;
                        margin: 0 auto;
                    }
                </style>
                <div class="center-image">
                    <img src="/img/portfolio/fetal.jpg" class="img-responsive" alt="" width="40%" >
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="Tracking">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Object detection and tracking</h2>
                <hr class="primary">
                <p class="text-muted">
                    We developed AI model capable of detect class objects (for example people) and track them on videos. It can work in real time. We can make camera video overlay looks like image below. It is possible to make object interaction for example we can detect and assign knife to his owner.
                </p>
                <style>
                    .center-image {
                        text-align: center;
                    }
                    .center-image img {
                        display: block;
                        margin: 0 auto;
                    }
                </style>
                <div class="center-image">
                    <img src="/img/portfolio/objd.jpg" class="img-responsive" alt="" width="40%" >
                </div>
            </div>
        </div>
    </div>
</section>