<section class="bg-primary" id="trusted-companies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Zaufali nam</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row text-center">
            <!-- Example company entries -->
            <div style="padding-top: 70px;">
                <!-- Centered logo -->
                <img src="/img/etoto.png" alt="ETOTO" class="img-responsive" style="max-width: 12%; height: auto; width: auto; display: block; margin-left: auto; margin-right: auto;">
            </div>            
        </div>
    </div>
</section>
