<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJ6JSFZP"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include front_nav.html %}
  {% include projects_header.html %}
  {% include projects_.html %}
  <!-- {% include aside.html %} -->
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>